.big-img{
    img{
        width: 70vh;
        // height: 70px;
    }
}

.parent-1{
    display: flex;
    justify-content: space-around;
    // align-items: center;
}



.main-news{

    margin-top: 2rem;
}

.ads{

    height: 299px;


    background-image: url(/NEWS-WEBSITE/image/ADS-1.png);
    background-position:right ;
}

.sidebar{
margin-top: 2rem;

    img{
    width: 90px;
 }

}


//this is about morning news 

a> h6{
        text-decoration: none;
        
     }
.morning-news{


   a{
  

     color: black;
    
    
}
   

    img{
        width: 10rem;
        // border-radius: 50%;
    }
}


.parent-3{

position: relative;
text-align: center;


  .img-text{
color: rgb(0, 0, 0);
    position: absolute;
    top: 60%;
     font-weight:500 ;

// border: 1px black solid;
    box-shadow: inset 0px -60px 0px 120px rgb(136, 133, 133);
    // right: 5px;
    // z-index: 1;
  }

}