.big-img{
    img{
        width: 70vh;
        // height: 70px;
    }
}

.parent-1{
    display: flex;
    justify-content: space-around;
    // align-items: center;
}



.main-news{

    margin-top: 2rem;
}

.ads{

    height: 299px;


    background-image: url(/NEWS-WEBSITE/image/ADS-1.png);
    background-position:right ;
}

.sidebar{
margin-top: 2rem;

    img{
    width: 90px;
 }

}


//this is about morning news 


.morning-news{


   a{
  

     color: black;
    
    
}
   
 h6{
        text-decoration: none;
        
     }
    img{
        width: 10rem;
        // border-radius: 50%;
    }
}