*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

$primary-color:rgb(189, 8, 8);

$primary-font:20px;
$primary-font-style:'Inter', sans-serif;
// $secondary-color: ;