footer{
    margin-top: 5rem;
 background-color: rgb(188, 185, 185);
 padding-top: 2rem;
    ul{
        padding-left:0px;
    }

    a{

        text-decoration: none;
        color: black;

        &:hover{
            color: rgb(55, 55, 162);
        }
    }



}

.contacts-icons{
 margin-top: 1rem;
    display: flex;
    gap: 0.8rem;
}